{% extends "layouts/base.html" %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<script type="text/javascript">
    const csrftoken = "{{ csrf_token }}"
</script>
{% endblock %}

{% block content %}
{% include 'partials/header.html' %}

{% block container %}{% endblock %}

{% include 'partials/footer.html' %}

<script src="https://kit.fontawesome.com/daf1d276ea.js" crossorigin="anonymous"></script>
<script src=" https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js "></script>
{% endblock %}

{% block extrascripts %}{% endblock %}
