{% extends 'layouts/base_store.html' %}
{% load static %}

{% block container %}
<main class="container">
  <h2>Seu Carrinho de Compras</h2>
  <div class="d-flex row-cols-md-2 gap-3">
    <section class="col col-md-7 my-3 gap-3">
      <div class="cart" id="change">
        {% include 'partials/forms/address.html' %}
      </div>
    </section>
    <section class="col col-md-3">
      <table class="table">
        <thead>
          <tr>
            <th scope="col-3">Order sumary</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
          <tr>
            <!-- <th scope="row">
              <img src="{ url item.product.image %}" alt="{{ item.product.title }">
            </th> -->
            <td></td>
            <td>{{ item.title }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.quantity }}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <tf class="d-flex justify-content-between"><span>Items:</span> <strong>{{ order.get_items_quantity }}</strong></tf>
            <tf class="d-flex justify-content-between"><span>Total:</span> <strong>{{ order.get_total_price|floatformat:2 }}</strong></tf>
          </tr>
        </tfoot>
      </table>
    </section>
  </div>
</main>
{% endblock %}

{% block extrascripts %}
<script src="https://sdk.mercadopago.com/js/v2"></script>
<script src="{ static 'js/store/mercadopago.js' %}" type="javascript"></script>
{% endblock %}