{% extends 'layouts/base_store.html' %}
{% load tag_image %}

{% block container %}
<main>
  {% include 'components/hero.html' %}
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for product in products %}
        <div class="col">
          <div class="card shadow-sm">
            {% if images|get_image:product.id %}
            <img src="{{ images|get_image:product.id }}" alt="Image of {{ product.title }}" width="100%" height="225">
            {% else %}
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect>
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            </svg>
            {% endif %}
            <div class="card-body">
              <p class="card-text">{{ product.title }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <strong class="">${{ product.price|floatformat:2 }}</strong>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
        <span class="alert alert-info text-center align-items-center">
          Não há productos na sua base de dados.
        </span>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
