{% extends 'layouts/base_store.html' %}

{% block container %}
<main>
  {% include 'components/hero.html' %}
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for raffle in raffles %}
        <div class="col">
          <div class="card shadow-sm">
            {% if raffle.image %}
            <img src="{{ raffle.image }}" alt="Image of {{ reffle.title }}">
            {% else %}
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect>
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            </svg>
            {% endif %}
            <div class="card-body">
              <p class="card-text">{{ raffle.title }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <strong class="">${{ raffle.price|floatformat:2 }}</strong>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
