{% extends 'layouts/base_store.html' %}
{% load static tag_image %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/carousel-custom.css' %}">
{% endblock %}

{% block container %}
{% include 'partials/carousel.html' %}
<main class="container py-5">
  <section class="row">
    <h3 class="text-center">Funcionalidades</h3>
    <p class="text-center">Conheça mais sobre o que a nossa plataforma pode te oferecer.</p>
    <div class="row">
      <div class="col">
        <div>
          <i class="fa-solid fa-money-bill"></i>
        </div>
        <strong>Pagamentos automático</strong>
        <p>Receba pagamento automatizados via PIX</p>
      </div>
      <div class="col">
        <div>
          <i class="fa-solid fa-money-bill"></i>
        </div>
        <strong>Pagamentos automático</strong>
        <p>Receba pagamento automatizados via PIX</p>
      </div>
      <div class="col">
        <div>
          <i class="fa-solid fa-money-bill"></i>
        </div>
        <strong>Pagamentos automático</strong>
        <p>Receba pagamento automatizados via PIX</p>
      </div>
      <div class="col">
        <div>
          <i class="fa-solid fa-money-bill"></i>
        </div>
        <strong>Pagamentos automático</strong>
        <p>Receba pagamento automatizados via PIX</p>
      </div>
    </div>
  </section>
  <section class="row row-cols-md-2">
    <figure class="col">
      <!-- <img width="240" height="240" src="https://img.freepik.com/fotos-premium/ela-esta-mais-do-que-disposta-a-ajudar-foto-recortada-de-um-agente-de-call-center-feminino-jovem-e-atraente-trabalhando-em-sua-mesa-no-escritorio_590464-2213.jpg?w=740" alt="Ela está mais do que disposta a ajudar. Foto recortada de um agente de call center feminino jovem e atraente trabalhando em sua mesa no escritório."> -->
    </figure>
    <article class="col">
      <h3>Suporte</h3>
      <p>Caso tenha qualquer dúvida é só entrar em contato conosco pelo WhatsApp que iremos lhe ajudar o mais rápido possível! Somos referência em suporte ao cliente.</p>
      <p>Nós também temos uma central de ajuda com artigos explicativos preparada para você tirar todas as suas dúvidas.</p>
    </article>
  </section>
  <section>
    <div class="card">
      <strong class="text-center">Rifeiro ou Afiliado</strong>
      <p class="text-center">Você escolhe como deseja trabalhar.</p>
    </div>
  </section>
  <!-- Overview Video -->
  <!-- Because use this platform -->
  <section class="row py-5">
    <div class="row">
      <h3>Dúvidas frequentes</h3>
    </div>
    <div class="accordion accordion-flush row row-cols-md-2" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Accordion Item #1
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Accordion Item #2
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Accordion Item #3
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            Accordion Item #3
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
