{% extends 'layouts/base_store.html' %}
{% load static %}

{% block container %}
<main class="container d-flex gap-3 py-5">
	<div class="col-12 col-lg-8">
	<section class="row gap-3 py-5">
		<div class="col">
			<h2 class="text-align-center">{{ product.title }}</h3>
			<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
			  <div class="carousel-inner">
			  	{% for image in images %}
			    <div class="carousel-item {% if forloop.first %}active{% endif %}">
			      <img class="bd-placeholder-img" width="100%" height="100%" src="{{ image.image.url }}">
			    </div>
			    {% endfor %}
			  </div>
			  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
			    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    <span class="visually-hidden">Previous</span>
			  </button>
			  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="visually-hidden">Next</span>
			  </button>
			</div>
		</div>
	</section>
	<section class="row py-5">
		<article>
			<p><span>Data:</span> 
				{% if product.scheduled_date %}
					{{ product.scheduled_date }}
				{% else %}
					Indefinida
				{% endif %}
			</p>
			<p><span>Quantidade de números:</span> {{ product.get_number_quantity_display }}</p>
			<p><span>Preço por número:</span> {{ product.price }}</p>
			<p><span>Quantidade mínima:</span> {{ product.min_quantity }}</p>
			<p>
				<span>Tipo de produto:</span> 
				{% if product.digital %}
					digital
				{% else %}
					físico
				{% endif %}
			</p>
		</article>
		{% if product.description %}
		<article>
			<h4>Descrição</h4>
			<p>{{ product.description }}</p>
		</article>
		{% endif %}
	</section>
	<section>
		<h4>PARTICIPE E CONTRIBUA PARA UMA BOA CAUSA</h4>
		<div class="d-flex justify-content-between" id="selecteds">
			<strong>R$ <span id="totalValue">0,00</span></strong>
			<button class="btn btn-success" id="pay">Pagar</button>
		</div>
		<ul class="d-flex justify-content-end gap-3 no-bullets my-3">
			<li class="btn btn-outline-secondary">DISPONÍVEL</li>
			<li class="btn btn-warning">RESERVADO</li>
			<li class="btn btn-success">PAGO</li>
		</ul>
		<div class="container text-center">
			<ul class="row row-cols-10 gap-2 no-bullets" id="numbers"></ul>
		</div>
	</section>
	</div>
	<aside class="col-12 col-lg-4 py-5">Aside content</aside>
</main>
{% endblock %}

{% block extrascripts %}
{{ datas|json_script:"datas" }}
<script src="{% static 'js/store/product-cart.js' %}" type="text/javascript"></script>
{% endblock %}