{% extends "layouts/base.html" %}
{% load i18n static %}

{% block content_title %}{% endblock %}

{% block content %}
<main class="container">
  {% include 'components/alert.html' %} 
  <div class="d-flex align-items-center justify-content-center">
    <form action="{% url 'signin' %}" method="post" id="login-form">{% csrf_token %}
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      <div class="imput-group my-3">
        <label for="floatingInput">Email address</label>
        <input type="email" class="form-control" name="email" id="floatingInput" placeholder="name@example.com">
      </div>
      <div class="imput-group my-3">
        <label for="floatingPassword">Password</label>
        <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
      </div>
      <div class="form-check text-start my-3">
        <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Remember me
        </label>
      </div>
      <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
      <a class="btn btn-primary w-100 py-2" href="{% url 'signup' %}">Sign up</a>
      <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2024</p>
    </form>
  </div>
</main>
{% endblock %}
